body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    background: rgb(149 150 195);
    background-repeat: no-repeat;
}

.page-wrapper {
    height: 100vh;
    max-width: 1100px;
    margin: auto;
}

.page-content {
    min-height: calc(100vh - 61px - 200px - 40px);
}

#top-nav {
    width: 100%;
    height: 61px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 20px;
}

#catalog .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #cbccd8;
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-8px);
    background-color: #d1d5fa;
}

.card img {
    width: 90%;
    height: auto;
    max-height: 270px;
}

.card .name {
    font-size: xx-large;
    font-weight: 900;
}

.card .price {
    font-size: large;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 4px;
    padding: 3px 15px;
    background: rgb(204, 144, 144);
}

#footer {
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    font-size: 50px;
    font-weight: 800;
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.buttons a, .contacts a {
    text-decoration: none;
    color: rgb(72, 78, 133);
}

.buttons a {
    padding: 7px;
}

.buttons a:hover, .contacts a:hover {
    text-decoration: underline;
}

.menu-contacts > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 0;
}

#footer h3 {
    margin: 7px 0;
}

#message {
    text-align: center;
    margin-bottom: 20px;
}

#notif-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

#subscribed {
    display: none;
    margin: 7px 0;
}

.input {
    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    height: 20px;
    padding: auto;
}

.input::placeholder {
    text-align: center;
}

.btn {
    background: rgb(72, 78, 133);
    color: white;
    border: none;
    padding: 5px 8px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    transform: scale(1.04);
    cursor: pointer;
}